/*****  
  General Rules/Reset
*****/

:root {
  font-family: sans-serif;
  --fate-blue: hsl(206, 75%, 42%);
  --fate-blue-light: hsl(196, 70%, 48%);
  --1rem: clamp(1rem, 0.825rem + 0.5vmin, 2rem);
  --125rem: calc(var(--1rem) * 1.25);
  --15rem: calc(var(--1rem) * 1.5);
  --2rem: calc(var(--1rem) * 2);
  --25rem: calc(var(--1rem) * 2.5);
  --tap-target: calc(var(--1rem) * 2.75);
  --measure: 60ch;
  --measure-long: 90ch;
  --measure-short: 40ch;
  --measure-tiny: 30ch;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/****
  Basic Styles
*****/

html, body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  color: #eee;
  background-color: var(--fate-blue);
  z-index: 0;
}

h2::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-57%);
  left: calc(var(--2rem) * -1);
  height: 1.5em;
  width: 100vw;
  background-color: var(--fate-blue);
  z-index: -1;
}

main {
  font-size: var(--1rem);
}

section + section {
  margin-block-start: 1em;
}

section {
  margin-inline-start: 2em;
}

dt {
  font-weight: 900;
  font-size: var(--125rem);
}

dd {
  max-width: var(--measure);
}

img {
  float: right;
  margin-inline-end: 2em;
}

dialog {
  z-index: 5;
  background-color: #eee;
  border-radius: 15px;
  border: none;
}

dialog::backdrop {
  background: rgba(0,0,0,.7);
}

select {
  margin-block-end: var(--15rem);
}

textarea {
  font-family: inherit;
}

legend {
  font-size: 0.875em;
}

/****
  Atoms  
*****/

.measure {
  width: min(var(--measure), 100% - 2em);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.two-by-two-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  align-items: center;
}

form > div + div {
  margin-block-start: 1em;
}

.flex-row-align {
  display: flex;
  align-items: center;
}

.flex-even-space {
  margin-block-start: 1em;
  display: flex;
  justify-content: space-evenly;
}

dialog button {
  box-shadow: 3px 3px 9px #999;
  background-color: var(--fate-blue);
  border: initial;
  color: #eee;
  padding-inline: 0.75em;
  padding-block: 0.5em;
  border-radius: 5px;
  transition-duration: 250ms;
}

dialog button:hover,
dialog button:active,
dialog button:focus
 {
  background-color: var(--fate-blue-light);
  transform: scale(1.1);
}

[data-remove] {
  margin-block-start: 1em;
}



/****
  General Info  
*****/

h2 > button {
  position: absolute;
  right: var(--2rem);
  top: 50%;
  transform: translateY(-55%);
}

form > label:nth-child(1n+2) {
  margin-block-start: 0.5em;
}

form {
  padding-inline: 5em;
  padding-block: 2em;
}

fieldset > input + label {
  margin-block-start: 1em;
}

div > input + label {
  margin-block-start: 1em;
}


/****
  Skills  
*****/

.skills li {
  font-variant: small-caps;
}

/****
  Vitals
*****/

.stress button {
  width: var(--tap-target);
  height: var(--tap-target);
}

.stress > div + div {
  margin-block-start: 1em;
}

.stress > div {
  display: flex;
  /* gap: 2em; */
  align-items: center;
  justify-content: space-between;
}

.stress > div > span {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: flex-start;
  flex-basis: calc(7 * var(--tap-target));
}
